body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    background-color: #1F2937;
}
    
.logo {
    color: #F9FAF8;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul, li {
    list-style-type: none;
    align-self: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.nav {
    display: flex;
    gap: 24px;
    align-items: start;
}

.logo {
    align-self: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 80px 15%;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
    color: #a7a7a7;
}

.firstimg {
    width: 300px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.main {
    padding: 80px 15%;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

img.img {
    width: 70%;
    margin-top: 20px;
    border-radius: 10%;
    border: solid 2.5px #3882F6
}

img {
    border-radius: 2%;
}

.imgc {
    display: flex;
    flex-flow: column;
    align-items: center;
}

figcaption {
    color: #a7a7a7;
    font-size: smaller;
    margin-top: 5px;
}

.quote {
    padding: 80px 20%;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.person {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: right;

}

